.hm_box {
    margin: 0px;
    padding: 0px;
    clear: both;
}

.hm_box .hmb_title {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    display: inline;
    float: left;
    width: auto;
}

.hm_box .hmb_title h2 {
    height: 40px;
    font-size: 22px;
    line-height: 40px;
    margin: 0px;
    padding: 0px;
    font-weight: normal;
}

.hm_box .hmb_title a {
    color: rgb(162, 105, 0);
}

.hm_box .hmb_title a span {
    visibility: hidden;
    transition: 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-box-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
}

.hm_box .hmb_title a:hover {
    text-decoration: none;
    color: #F30;
}

.hm_box .hmb_title a:hover span {
    visibility: visible;
    margin-left: 3px;
}

.hm_box .hmb_more {
    height: 28px;
    display: inline;
    float: right;
    width: auto;
    padding: 12px 0px 0px;
    max-width: 70%;
    overflow: hidden;
    text-align: right;
}

.hm_box .hmb_mor_tag a {
    color: #666;
    display: inline-block;
    line-height: 22px;
    padding: 0px 6px;
    transition: 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-box-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    border: 1px solid #F2F2F2;
}

.hm_box .hmb_mor_tag a:hover {
    color: #C60;
    padding: 0px 6px;
    background: #FFF;
    text-decoration: none;
    border: 1px solid #E4E4E4;
}

.hm_box .hmb_mor_pre_next span, .hm_box .hmb_mor_pre_next .bmb_pn_spa {
    display: inline-block;
    margin: 0px;
    padding: 0px 10px;
    height: 20px;
    border: 1px solid #DBDBDB;
    color: #666;
    cursor: pointer;
    font: 12px/20px Verdana;
    transition: 0.2s linear;
    -webkit-transition: all .2s linear;
    background: #EFEFEF;
}

.hm_box .hmb_mor_pre_next .bmb_pn_spa_left {
    margin-right: 5px;
}

.hm_box .hmb_mor_pre_next span:hover, .hm_box .hmb_mor_pre_next .bmb_pn_spa:hover {
    background: #FFF;
    border: 1px solid #CCC;
    color: #333;
}

.hm_box_cb {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.hm_bnr_ndots {
    padding: 0px 30px;
    bottom: 20px;
    position: absolute;
    right: 0px;
    z-index: 1000;
}

.hm_bnr_ndots .hm_bnr_dot {
    background: rgb(255, 255, 255);
    margin: 0px 3px;
    border-radius: 50px;
    width: 10px;
    height: 10px;
    text-align: center;
    color: rgb(255, 102, 0);
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
}

.hm_bnr_ndots .active {
    background: rgb(170, 0, 0);
}

.hm_cates {
    height: 420px;
    color: rgb(255, 255, 255);
    margin: 0px;
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
    width: 240px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-style: none;
    z-index: 5;
    font-size: 14px;
}

.hm_cates a:hover {
    text-decoration: none;
}

.hm_cates .title {
    height: 42px;
    color: rgb(255, 255, 255);
    line-height: 42px;
    padding-left: 20px;
    display: block;
    position: relative;
}

.hm_cates .title span {
    top: 0px;
    right: 10px;
    color: rgb(204, 204, 204);
    position: absolute;
}

.hm_cates .hm_cate_dir:hover {
    background: rgb(255, 103, 0);
    width: 100%;
    height: 42px;
    color: rgb(255, 255, 255);
}

.hm_cates .hm_cate_pro {
    background: rgb(255, 255, 255);
    border-image: none;
    left: 240px;
    top: 0px;
    height: 440px;
    display: none;
    position: absolute;
    z-index: 6;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 0 5px 16px rgba(0, 0, 0, 0.5);
    filter: Shadow(Color=#ccc, Direction=5);
    border-bottom: 1px solid #CCC;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    width: 320px;
    padding: 9px 0px 0px;
}

.hm_cates .hm_cate_pro_col0 {
    width: 0px;
}

.hm_cates .hm_cate_pro_col2 {
    width: 640px;
}

.hm_cates .hm_cate_pro li {
    width: 310px;
    height: 110px;
    float: left;
    position: relative;
    padding: 0px 10px 0px 0px;
}

.hm_cates .hm_cate_pro li:hover {
    background: #FFFFD9;
}

.hm_cates .hm_cate_pro li .hm_catepro_img {
    width: 100px;
    height: 100px;
    float: left;
    padding: 10px 0px 0px 20px;
    display: inline;
}

.hm_cates .hm_cate_pro li .hm_catepro_namepri {
    width: 190px;
    height: 95px;
    float: right;
    padding: 15px 0px 0px;
    display: inline;
    font-size: 12px;
    line-height: normal;
}

.hm_box_jmp_left {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 240px;
    height: 160px;
}

.hm_box_jmp_right {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    float: left;
    /*width: 960px;*/
}

.hm_box_jmp_right ul, .hm_box_jmp_left ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.hm_box_jmp_left li {
    margin: 0px;
    padding: 0px;
    float: left;
    height: 40px;
    width: 120px;
    line-height: 40px;
}

.hm_box_jmp_right li {
    width: 290px;
    padding:0 9px 0 1px;
    float: left;
    list-style: none;
    position: relative;
}

.hm_box_jmp_right li:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    animation: hm_jmp_a3 1.2s;
    -moz-animation: hm_jmp_a3 1.2s;
    -webkit-animation: hm_jmp_a3 1.2s;
    -o-animation: hm_jmp_a3 1.2s;
}

.hm_box_jmp_right img {
    width: 100%;
    height: 100%;
}

@keyframes hm_jmp_a3 {
    0% {
        left: 0px;
        top: 0px;
    }
    20% {
        left: 0px;
        top: -10px;
    }
    30% {
        left: 0px;
        top: -0px;
    }
    40% {
        left: 0px;
        top: -7px;
    }
    50% {
        left: 0px;
        top: -0px;
    }
    60% {
        left: 0px;
        top: -5px;
    }
    70% {
        left: 0px;
        top: -0px;
    }
    80% {
        left: 0px;
        top: -3px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@-webkit-keyframes hm_jmp_a3 {
    0% {
        left: 0px;
        top: 0px;
    }
    20% {
        left: 0px;
        top: -10px;
    }
    30% {
        left: 0px;
        top: -0px;
    }
    40% {
        left: 0px;
        top: -7px;
    }
    50% {
        left: 0px;
        top: -0px;
    }
    60% {
        left: 0px;
        top: -5px;
    }
    70% {
        left: 0px;
        top: -0px;
    }
    80% {
        left: 0px;
        top: -3px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@-moz-keyframes hm_jmp_a3 /* Firefox */
{
    0% {
        left: 0px;
        top: 0px;
    }
    20% {
        left: 0px;
        top: -10px;
    }
    30% {
        left: 0px;
        top: -0px;
    }
    40% {
        left: 0px;
        top: -7px;
    }
    50% {
        left: 0px;
        top: -0px;
    }
    60% {
        left: 0px;
        top: -5px;
    }
    70% {
        left: 0px;
        top: -0px;
    }
    80% {
        left: 0px;
        top: -3px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@-o-keyframes hm_jmp_a3 /* Opera */
{
    0% {
        left: 0px;
        top: 0px;
    }
    20% {
        left: 0px;
        top: -10px;
    }
    30% {
        left: 0px;
        top: -0px;
    }
    40% {
        left: 0px;
        top: -7px;
    }
    50% {
        left: 0px;
        top: -0px;
    }
    60% {
        left: 0px;
        top: -5px;
    }
    70% {
        left: 0px;
        top: -0px;
    }
    80% {
        left: 0px;
        top: -3px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

.hm_box_pronew {
    height: 320px;
    margin-left: 0px;
    -webkit-transition: all 0.5s ease;
}

.hm_box_pronew li {
    background: rgb(250, 250, 250);
    width: 240px;
    height: 320px;
    text-align: center;
    float: left;
    margin: 0px;
    border-top: 2px solid #CCC;
}

/*	.hm_box_pronew li:nth-child(5n+1) { border-top-color: rgb(255,177,32); }
	.hm_box_pronew li:nth-child(5n+2) { border-top-color: rgb(133,197,80); }
	.hm_box_pronew li:nth-child(5n+3) { border-top-color: rgb(102,204,255); }
	.hm_box_pronew li:nth-child(5n+4) { border-top-color: rgb(173,91,255); }
	.hm_box_pronew li:nth-child(5n) { border-top-color: rgb(0,227,193); }*/
.hm_box_pronew li.hm_np_li_1 {
    border-top-color: rgb(255, 177, 32);
}

.hm_box_pronew li.hm_np_li_2 {
    border-top-color: rgb(133, 197, 80);
}

.hm_box_pronew li.hm_np_li_3 {
    border-top-color: rgb(102, 204, 255);
}

.hm_box_pronew li.hm_np_li_4 {
    border-top-color: rgb(173, 91, 255);
}

.hm_box_pronew li.hm_np_li_0 {
    border-top-color: rgb(0, 227, 193);
}

.hm_box_pronew .hm_pronew_photo {
    margin: 0px auto;
    padding: 20px 0px 0px;
    clear: both;
    height: 190px;
    width: 190px;
}

.hm_box_pronew .hm_pronew_name {
    margin: 0px auto;
    padding: 12px 10px 0px;
    clear: both;
    width: auto;
    height: 28px;
    overflow: hidden;
}

.hm_box_pronew .hm_pronew_price {
    margin: 0px auto;
    padding: 10px 0px 0px;
    width: auto;
    height: 20px;
    overflow: hidden;
    text-align: center;
    display: table;
}

.hm_box_pronew .hm_pronew_rate {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    height: 20px;
    overflow: hidden;
    text-align: center;
    display: table;
}

.hm_box_dir_tf {
    margin-bottom: 9px;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.hm_box_dir_tf_1 {
    border-bottom-color: rgb(102, 204, 255);
}

.hm_box_dir_tf_1 .hmb_title a {
    color: rgb(0, 160, 233);
}

.hm_box_dir_tf_2 {
    border-bottom-color: rgb(133, 197, 80);
}

.hm_box_dir_tf_2 .hmb_title a {
    color: rgb(119, 188, 63);
}

.hm_box_dir_tf_3 {
    border-bottom-color: rgb(255, 177, 32);
}

.hm_box_dir_tf_3 .hmb_title a {
    color: rgb(255, 102, 0);
}

.hm_box_dir_tf_4 {
    border-bottom-color: rgb(173, 91, 255);
}

.hm_box_dir_tf_4 .hmb_title a {
    color: rgb(154, 53, 255);
}

.hm_box_dir_tf_0 {
    border-bottom-color: rgb(0, 227, 193);
}

.hm_box_dir_tf_0 .hmb_title a {
    color: rgb(0, 191, 163);
}

.hm_pro_ads_area {
    margin: 0px;
    padding: 0px;
    float: left;
    height: 615px;
    width: 240px;
}

.hm_pro_ads_item {
    padding: 0px;
    float: left;
    width: 240px;
    background: rgb(255, 255, 255);
    overflow: hidden;
    margin: 0px;
    position: relative;
    z-index: 1;
    transition: 0.2s linear;
    -webkit-transition: all .2s linear;
    -moz-box-transition: all .2s linear;
    -o-transition: all .2s linear;
}

.hm_pro_ads_item:hover {
    top: -2px;
    z-index: 2;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18);
}

.hm_pro_ads_n1 {
    height: 615px;
}

.hm_pro_ads_n2 {
    height: 300px;
}

.hm_pro_ads_n2_2 {
    margin-top: 15px;
}

.hm_pro_grid {
    margin: 0px;
    padding: 0px;
    float: left;
    height: 300px;
    width: 240px;
}

.hm_pro_gr_col_2 {
    padding-top: 15px;
}

.hm_pro_gr_item {
    padding: 0px;
    width: 225px;
    background: rgb(255, 255, 255);
    transition: 0.2s linear;
    overflow: hidden;
    float: right;
    position: relative;
    z-index: 1;
    -webkit-transition: all .2s linear;
    margin: 0px;
    height: 300px;
}

.hm_pro_gr_item_noad_left {
    width: 240px;
}

.hm_pro_gr_item:hover {
    top: -2px;
    z-index: 2;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
}

.hm_pro_gr_item .hm_progrd_photo {
    margin: 0px auto;
    padding: 20px 0px 0px;
    clear: both;
    height: 180px;
    width: 180px;
}

.hm_pro_gr_item .hm_progrd_name {
    margin: 0px auto;
    padding: 12px 10px 0px;
    clear: both;
    width: auto;
    height: 28px;
    overflow: hidden;
}

.hm_pro_gr_item .hm_progrd_price {
    margin: 0px auto;
    padding: 10px 0px 0px;
    width: auto;
    height: 20px;
    overflow: hidden;
    text-align: center;
    display: table;
}

.hm_pro_gr_item .hm_progrd_rate {
    margin: 0px auto;
    padding: 0px;
    width: auto;
    height: 20px;
    overflow: hidden;
    text-align: center;
    display: table;
}
