a.submitbutton:hover {
    color: #ffffff;
}

a.submitbutton {
    height: 35px;
    display: block;
    background: #4c6b99;
    color: #fafafa;
    text-align: center;
    font: bold 14px/35px Segoeui-Bold, Arial, Verdana, serif;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -khtml-border-radius: 2px;
    behavior: url(PIE.htc);
    cursor: pointer;
    padding: 0 20px;
    text-align: center;
    width: auto;
    float: left;
}

.submitbutton:hover {
    background: #4c6b99;
    box-shadow: 0px 0px 2px #4c6b99;
    -moz-box-shadow: 0px 0px 2px #4c6b99;
    -webkit-box-shadow: 0px 0px 2px #4c6b99;
    text-decoration: none;
}

.submitbutton:active,
.submitbutton:focus {
    background: #4c6b99;
    box-shadow: inset 0px 0px 10px #4c6b99;
    -moz-box-shadow: inset 0px 0px 10px #4c6b99;
    -webkit-box-shadow: inset 0px 0px 10px #4c6b99;
}

button:hover,
input[type="submit"]:hover {
    background: #4c6b99;
    box-shadow: 0px 0px 2px #4c6b99;
    -moz-box-shadow: 0px 0px 2px #4c6b99;
    -webkit-box-shadow: 0px 0px 2px #4c6b99;
}

button:active,
button:focus,
input[type="submit"]:focus,
input[type="submit"]:active {
    background: #4c6ba9;
    box-shadow: inset 0px 0px 10px #4c6ba9;
    -moz-box-shadow: inset 0px 0px 10px #4c6ba9;
    -webkit-box-shadow: inset 0px 0px 10px #4c6ba9;
}

button.redBtn:focus, button.redBtn:active {
    background: none;
    box-shadow: none;
}

.addressedit .address_country {
    width: 272px;
}

.selectBox {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    display: inline-block;
    font: 12px/33px Segoeui, Arial, Verdana, serif;
    height: 33px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.two-columns-left .account_center {
    width: 960px;
    float: right;

}

.edit_order thead tr {
    background: #f7f7f7 none repeat scroll 0 0;
}

.col-left .block-account {
    margin-top: 10px;
}

.my_account_order h2 {
    color: #888;
    font-family: Arial;
    font-size: 15px;
    font-weight: 100;
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0 0 2px;
}

.my_account_order .box .box-content {
    margin: 10px 0 0;

}

.my_account_order .box {
    margin: 4px 0 30px;
}

.std address {
    font-style: normal;
    line-height: 20px;
}

.data-table thead {
    background-color: #f2f2f2;
}

.data-table th {
    border: 1px solid #ddd;
    color: #777;
    font-size: 13px;
    font-weight: 100;
    padding: 5px;
    white-space: nowrap;
}

.my_account_order .data-table tbody.odd tr.border td {
    line-height: 20px;
}

.data-table tbody.odd tr.border td, .data-table tbody.even tr.border td {
    border-bottom-width: 1px;
}

.data-table tbody.odd td {
    border-width: 0 1px;
}

td:nth-child(2n) {
    background: #fefefe none repeat scroll 0 0;
}

.data-table td {
    border: 1px solid #ddd;
    padding: 5px;
}

.a-right {
    text-align: right !important;
}

.edit_order tr td {
    background: #fff none repeat scroll 0 0;
}

.review_description_left a span {
    display: block;
    height: 32px;
    overflow: hidden;
    color: #777;
}

.review_reply {
    background: none repeat scroll 0 0 #f6f4f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #666;
    font-family: verdana;
    font-size: 11px;
    word-break: break-all;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}

.review_reply_span {
    background: url(../images/tringle.png) no-repeat;
    height: 12px;
    left: 70px;
    position: absolute;
    top: -12px;
    width: 18px;
}

.review_description_left {
    display: inline-block;
    float: left;
    padding: 0 10px;
    width: 200px;
}

.review_description_right {
    width: 730px;
    padding: 10px;
    display: inline-block;
}

.product-Reviews_top .review_description_left {
    display: inline-block;
    float: left;
    padding: 0 10px;
    width: 170px;
}

.product-Reviews_top .review_description_right {
    display: inline-block;
    float: right;
    padding: 0 10px;
    width: 730px;
}

.review_list_product #review_description {
    border: none;
}

.review_description_left p {
    color: #000;
    font-size: 14px;
    margin: 0px 0 5px;
    padding: 7px 0;
}

.review_description_right_span {
    display: block;
    margin-bottom: 10px;
    line-height: 20px;
}

.review_description_centen {
    min-height: 20px;
    word-break: break-all;
    padding-bottom: 10px;
}

.review_description_right p {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.review_description_right p span {
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin-right: 2px;
    padding: 0 4px;
    text-align: center;
    width: auto;
}

.favorite-Operation {
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
}

.favorite-Operation a {
    text-align: center;
    display: inline-block;
    width: 70px;
    height: 30px;
    border: 1px solid #ccc;
    cursor: pointer
}

.favorite-Operation-main {
    padding: 10px;
    height: 128px;
    border: solid 1px #909090;
    background: #fff;
    text-align: center;
}

input.save {
    width: 47px;
    height: 20px;
    background: url(../images/add_save_hover.jpg) no-repeat;
    border: 0;
    margin-top: 4px;
}

input.cancel {
    width: 47px;
    height: 20px;
    background: url(../images/add_Close_hover.jpg) no-repeat;
    border: 0;
    margin-top: 4px;
}

.favorite-Operation-main textarea {
    margin-bottom: 10px;
    width: 177px;
    height: 77px;
    border: solid 1px #adadad;
}

.product-Reviews_top {
    padding: 8px 0 20px 10px;
    width: 100%;
}

.product-Reviews_bottom {
    padding: 10px 0 50px 10px;
    width: 100%;
}

.product-Reviews_bottom #review_create {
    height: 100%;
}

.h-30 {
    height: 30px;
}

.lh30_f {
    float: left;
    line-height: 30px;
}

.star_ul {
    height: 30px;
    display: inline;
}

.star_ul li {
    float: left;
}

#review_price_span {
    display: inline;
}

#review_create {
    height: 220px;
    margin-top: 20px;
    width: 750px;
}

.review_input_box {
    margin: 10px 0;
}

#review_textarea {
    clear: both;
    width: 722px;
}

.review-input-text {
    width: 314px;
    height: 33px;
    padding: 0 10px;
    border: 1px solid #ccc;
    color: #777;
    border-radius: 2px;
}

.review_description_left a {
    text-decoration: none;
    color: #000;
}

.login_box_file {
    width: 320px;
    height: 28px;
    float: left;
}

.login_box_span {
    width: 44px;
    float: right;
    height: 28px;
    margin-right: 5px;
}

.fieldset {
    background: #fefefe none repeat scroll 0 0;
    border: 1px solid #ddd;
    margin: 28px 0;
    padding: 22px 25px 12px 33px;
}

.fieldset .legend {
    background: #dedede none repeat scroll 0 0;
    border: 1px solid #fefefe;
    color: #333;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin: -33px 0 0 -10px;
    padding: 0 8px;
    position: relative;
}

#form-validate ul li {
    margin: 11px 0;
}

.form-list li {
    margin: 0 0 8px;
}

.form-list .field {
    float: left;
    width: 275px;
}

#form-validate ul li label {
    display: block;
    font-size: 13px;
    margin: 10px 0 4px;
}

.form-list .input-box {
    clear: both;
    display: block;
    width: 375px;
}

.verification_code_input {
    height: 30px;
    padding: 0 10px;
    width: 86px;
}

.form-list li .login_box {
    width: 280px;
}

#contacts_comment {
    height: 100px;
    width: 530px;
}

.account-register #form-validate {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin: 0 auto;
    padding: 20px;
}

.account-register .form-list .field {
    float: none;
}

.login-captcha-input {
    height: 30px;
    padding: 0 10px;
    width: 76px;
}

.account-register .form-list .input-box {
    width: 272px;
}

.account-register .back-link {
    display: block;
    float: left;
    font-size: 11px;
    height: 30px;
    padding: 5px 8px;
}

.product_info .price_info .price.special_active {
    text-decoration: line-through;
    margin: 3px 0 0 3px;
}

.product_info .price_info .special_active {
    float: left;
    line-height: 30px;
    margin-right: 10px;
}

.product_info .special_price {
    color: #cc0000;
    font-size: 25px;
}

.tier_price_info table {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: auto;
}

.tier_price_info table tr {
}

.tier_price_info table tr td {
    height: 25px;
    width: 50px;
}

.chose_size a {
    border: 1px solid #ccc;
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    width: 35px;
}

.chose_color {
    margin: 2px 0 20px;
}

.product_options {
    margin: 40px 0 0;
}

.product_options a {
    display: block;
    float: left;
}

.product_options a.noactive {
    border: 1px dashed #ccc;
    cursor: not-allowed;
}

.product_custom_options .one_option {
    margin: 10px 0;
}

.product_custom_options .custom_option {
    float: left;
    display: block;
    width: 100px;
    margin: 4px 0 0;
}

.product_custom_options .one_option_title {
    float: left;
    display: block;
    width: 80px;
}

.pg .label {
    width: 80px;
    float: left;
}

.pg .rg {
    width: 80px;
    float: left;
}

.pg .rg input {
    width: 95px;
    padding: 0 0 0 3px;
}

.product_view input, .product_view select {
    height: 26px;
}

.addtocart {
    margin: 20px 0 0;
}

#js_registBtn {
    float: left;
    width: 190px;
    font-size: 14px;
}

.myFavorite_nohove {
    float: left;
    font-size: 12px;
    margin: 15px 0 0 20px;
    padding: 0 0 0 20px;
}

.myFavorite_nohove i {
    background: rgba(0, 0, 0, 0) url("../images/tag.png") no-repeat scroll -120px -48px;

    display: inline-block;
    font-size: 0;
    height: 27px;
    margin-right: 5px;
    vertical-align: -10px;
    width: 27px;

}

.myFavorite_nohove:hover i {
    background-position: -152px -48px;
}

.myFavorite_nohove:hover a {
    color: #da6667;
}

.myFavorite_nohove.act i {
    background-position: -152px -48px;
}

.myFavorite_nohove.act a {
    color: #da6667;
}

.product_info h1 {
    font-size: 15px;
}

.product_qty {
    margin: 20px 0 0
}

.product_options .pg .rg {
    width: auto;
}

.product_options .label {
    line-height: 62px;
}

.product_options .size-label {
    line-height: 32px;
}

.product_view {
    font-size: 12px;
}

.product_options li.current b {
    background: rgba(0, 0, 0, 0) url("../images/cur.png") no-repeat scroll 0 0;
    bottom: 0;
    display: block;
    height: 6px;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 8px;
}

ol, ul {
    list-style: outside none none;
}

.product_options .rg li {

    color: #333;
    cursor: pointer;
    float: left;
    margin: 5px;
    text-align: center;
    position: relative;

}

.product_options a.active:hover {
    border: 1px solid #cc0000
}

.rbc_cold {
    margin: 10px 0;
    font-size: 11px;
}

a:hover {
    text-decoration: underline;
}

.rbc_cold .review_star {
    display: block;
    float: left;
    height: 15px;
    margin: 2px 10px 0 5px;
    text-align: right;
    width: 95px;
}

.review_star_5 {
    background: rgba(0, 0, 0, 0) url("../images/Star_5.png") no-repeat scroll 0 0;
}

.review_star_4 {
    background: rgba(0, 0, 0, 0) url("../images/Star_4.png") no-repeat scroll 0 0;
}

.review_star_3 {
    background: rgba(0, 0, 0, 0) url("../images/Star_3.png") no-repeat scroll 0 0;
}

.review_star_2 {
    background: rgba(0, 0, 0, 0) url("../images/Star_2.png") no-repeat scroll 0 0;
}

.review_star_1 {
    background: rgba(0, 0, 0, 0) url("../images/Star_1.png") no-repeat scroll 0 0;
}

.review_star_0 {
    background: rgba(0, 0, 0, 0) url("../images/Star_0.png") no-repeat scroll 0 0;
}

.review_star {
    display: block;
    height: 15px;
    width: 69px;
}

.item_code {
    color: #777;
    font-size: 11px;
    padding: 10px 0 6px;
    border-bottom: 1px solid #bbb;
}

.price_info {
    margin: 20px 0;
}


#gallery_01 img {
    border: 2px solid white;
}

#gal1 img {
    border: 1px solid #ccc;
    padding: 4px;
    margin: 5px;
}

#gal1 .active img {
    border: 1px solid #000 !important;
}

#gal1 {
    margin: 9px 0;
}

.pro_img a {
    display: block;
    height: 434px;
    padding: 0 7.5px;
    width: 285px;

}

.product_description_info {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Microsoft YaHei';

}

.product_description_info #nav-container li {
    border-right: 2px solid #eee;
    cursor: pointer;
    float: left;
    font-size: 13px;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    text-align: center;
    width: auto;
}

.product_description_info #nav-container ul {
    width: 1200px;
    margin: 0 auto;
}

.product_description_info .nav {
    height: 52px;
    width: 100%;
    background: #f5f5f5;
}

.product_description_info .nav .cur {
    background: #fff;
    border-top: 2px solid #1a92cf;
    color: #1a92cf;
}

.product_description_info .fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
}

.product_description_info #nav-container a {
    color: #505050;
}

.product_page {
    font-size: 12px;
}

.product_description_info #text {
    padding: 20px 10px;
}

.scroll_left a {
    color: #4c6b99;
    font-family: Georgia;
    font-size: 19px;
    line-height: 40px;
    text-decoration: none;
}

.scroll_horizontal {
    padding: 30px 0 10px;
    position: relative;
    width: 100%;
}

.product-Reviews .scroll_horizontal .box {
    padding: 15px 0 0;
}

.scroll_horizontal .box {
    border-top: 1px solid #ccc;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px 0 0;
    position: relative;
}

.review_lists .scroll_left {
    border-bottom: 1px solid #ccc;

}

.product-Reviews_top {
    padding: 20px 0 20px 10px;
    width: auto;
}

.view_all_review {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    color: #fff;
    height: 22px;
    margin: 15px 0;
    text-align: center;
}

#review_description li {
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.view_all_review a {
    color: #333;
    line-height: 20px;
}

.review_description_left a {
    color: #000;
    text-decoration: none;
}

.product-Reviews_top a {
    font-family: Georgia;
    text-transform: uppercase;
}

.review_star {
    display: block;
    height: 15px;
    width: 69px;
}

.currentprice {
    color: #4c6b99;
    font-size: 16px;
}

.product-description_em {
    color: #cc0000;
    font: 17px/12px Segoeui, Arial, Verdana, serif;
    margin: 0 3px;
}

.star_1, .star_2, .star_3, .star_4, .star_5 {
    background: rgba(0, 0, 0, 0) url("../images/product_rating_big_blank_star.png") repeat scroll 0 0;
    display: block;
    height: 30px;
    width: 30px;
}

.full_star {
    background: rgba(0, 0, 0, 0) url("../images/product_rating_big_full_star.png") repeat scroll 0 0;
}

#reviews_form_list li {
    float: left;
    margin-top: 10px;
    width: 360px;
}

#reviews_form_list label {
    color: #707070;
    font: bold 11px/13px Segoeui-Bold, Myriad Pro, Verdana, serif;
}

.review_span_error {
    color: #f00;
    display: block;
    height: 20px;
}

#reviews_form_list select {
    width: 336px;
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #444;
    display: inline-block;
    font: 12px/33px Segoeui, Arial, Verdana, serif;
    height: 33px;
    overflow: hidden;
    padding-left: 10px;
    position: relative;
    text-decoration: none !important;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#review_review_field {
    border: 1px solid #ccc;
    border-radius: 2px;
    color: #777;
    height: 100px;
    padding: 10px;
    resize: none;
    width: 676px;
}

.verification_code_input {
    height: 30px;
    padding: 0 10px;
    width: 86px;
}

.product-Reviews_bottom button {
    margin: 8px 0 0;
}

.pageToolbar {
    background: #eee none repeat scroll 0 0;
    height: 25px;
    margin: 6px 0;
    padding: 8px 15px;
    font-size: 14px;
}

.pageToolbar .current {
    color: #cc0000;
    font-weight: bold;
}

.pageToolbar a, .pageToolbar span {
    margin: 0 1px;
    width: 20px;
    display: block;
    text-align: center;
    float: left;
}

.pageToolbar label.title {
    float: left;
    margin: 0 10px
}

.product-Reviews {
    margin-top: 40px;

}

.review_lists .product_name {
/ / font-family: Georgia;
    text-transform: uppercase;
    font-size: 13px;
}

.review_lists {
    font-size: 11px;
    margin: 20px 0 20px;
}

.moderation, .review_moderation {
    color: #ccc;
    margin: 10px 0;
    font-style: italic;
}

.review_refuse {
    color: #cc0000;
    margin: 10px 0;
    font-style: italic;
}

.review_accept {
    color: green;
    margin: 10px 0;
    font-style: italic;
}

.average_rating {
    float: left;
}

#review_description li {
    min-height: 90px;
}

.account_review_product .review_description_right_span {
    margin-bottom: 2px;
    float: left;
}

.account_review_product .review_description_centen {
    margin-top: 15px;
}

.review_date_time {
    display: block;
    float: right;
}

.account_review_product .product_img {
    display: block;
    margin: auto;
    width: 120px;
}

.account_review_product .review_star {
    display: block;
    margin: auto;
    margin: 3px auto 10px;
}

.product_options a.noimgshow {
    font-size: 11px;
    height: 35px;
    line-height: 35px;
    min-width: 15px;
    padding: 0 10px;
}

.product_options a.active, .product_options a.active_v {
    border: 1px solid #777;

}

.product_custom_options .product_options a.imgshow {
    display: block;
    float: left;
    height: 55px;
    padding: 3px 2px;
    width: 50px;
}

.product_options #gal1 img {
    border: medium none !important;
    margin: 0;
    padding: 0;
}

.product_options a.current {
    border: 1px solid #cc0000;
}

.tier_price_info .label {
    font-size: 11px;
    margin: 0 0 6px;
}

.product_info_section {
    margin: 5px 0px 15px;
}

.product_custom_options .product_options .label {
    line-height: 45px;
}

.product_options .rg li#gal1 {
    margin: 5px;
}

.product_options a.no_active {
    border: 1px dashed #ccc;
    cursor: not-allowed;
}

.product_options a.no_active:hover {
    border: 1px dashed #ccc;
}

#owl-buy-also-buy .pro_img img {
    height: 200px;
    width: 100%;
}

#owl-buy-also-buy .pro_img a {
    display: block;
    height: 200px;
    padding: 0 7.5px;
    width: 180px;
}

.scrollBox #owl-buy-also-buy span.my_shop_price {
    font-size: 14px;
}

.buy_also_buy {
    margin: 60px 0 0;
    height: 320px;
}

.buy_also_buy .scroll_left {
    margin: 15px 0;
    border-bottom: 1px solid #ccc;
}

.buy_also_buy .scrollBox {
    height: 280px;
}

.shopping-cart-img {
    background: rgba(0, 0, 0, 0) url("../images/scart_step1.gif") repeat scroll 0 0;
    height: 36px;
    margin: 20px auto 5px;
    width: 834px;
}

.shopping-cart-div {
    position: relative;
}

.data-table {
    width: 100%;
}

.data-table thead {
    background-color: #f2f2f2;
}

.shopping-cart-div .data-table thead tr {
    border: medium none;
}

.shopping-cart-div .data-table tr th {
    border: medium none;
}

.shopping-cart-div .data-table tr {
    border-bottom: 1px solid #ccc;
}

.shopping-cart-div .data-table tr td {
    border: medium none;
}

#shopping-cart-table .a-right {
    text-align: center !important;
}

.cartqtydown {
    background: rgba(0, 0, 0, 0) url("../images/jj.png") no-repeat scroll -4px -1px;
    float: left;
    height: 10px;
    margin: 12px 4px 0 0;
    width: 10px;
}

#shopping-cart-table .qty {
    float: left;
    padding: 0;
    text-align: center;
    width: 25px !important;
}

a.cartqtyup {
    background: rgba(0, 0, 0, 0) url("../images/jj.png") no-repeat scroll -4px -25px;
    float: left;
    height: 10px;
    margin: 12px 0 0 3px;
    width: 10px;
}

.cart .cart-collaterals {
    padding: 25px 0 0;
}

.btn-remove2 {
    background: rgba(0, 0, 0, 0) url("../images/btn_trash.gif") no-repeat scroll 0 0;
    display: block;
    font-size: 0;
    height: 16px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 16px;
}

#discount-coupon-form .discount-form label {
    color: #999;
    display: block;
    font-size: 11px;
    font-weight: 100;
    margin: 8px 0 10px;
}

#discount-coupon-form .input-box {
    float: left;
}

body #discount-coupon-form div.buttons-cou {
    float: left;
}

.discount-form .submitbutton {
    background: #ccc none repeat scroll 0 0;
    border-radius: 0;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
}

.cart .totals {
    float: right;
    width: 494px;
}

.cart .cart-collaterals .col2-set {
    float: left;
    width: 400px;
}

.proceed_to_checkout {
    margin-top: 35px;
    text-align: right;
}

#shopping-cart-totals-table2 {
    border-top: 1px solid #333;
    font-size: 14px;
    margin: 16px 0 0;
}

.cart .totals table th, .cart .totals table td {
    padding: 5px;
}

.std b, .std strong {
    font-weight: bold;
}

.price {
    white-space: nowrap !important;
}

* {
    margin: 0;
    padding: 0;
}

.std b, .std strong {
    font-weight: bold;
}

strong {
    font-weight: bold;
}

#shopping-cart-totals-table2 .a-right {
    color: #2ab4c4;
    font-size: 18px;
}

#shopping-cart-totals-table2 .a-right {
    color: #2ab4c4;
    font-size: 18px;
}

.proceed_to_checkout {
    margin-top: 35px;
    text-align: right;
}

.proceed_to_checkout button.button {
    display: block;
    float: right;
}

a.express_paypal {
    background: rgba(0, 0, 0, 0) url("../images/paypaltopay.jpg") repeat scroll 0 0;
    display: block;
    float: right;
    height: 30px;
    width: 154px;
}

.proceed_to_checkout .or {
    display: block;
    float: right;
    font-weight: bold;
    line-height: 32px;
    margin: 0 5px;
}

.proceed_to_checkout button.button span {
    font-size: 20px;
}

.cart-collaterals .col2-set .col-2 {
    float: left;
}

#discount-coupon-form .discount {
    width: 500px;
}

#discount-coupon-form .input-box {
    float: left;
}

body #discount-coupon-form div.buttons-cou {
    float: left;
}

#discount-coupon-form #coupon_code {
    border-radius: 0;
    height: 29px;
    width: 200px;
}

.discount-form .submitbutton:hover {
    background-color: #4c8b99;
}

h2 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.25;
    padding: 0 0 2px 0;
}

.a-center {
    text-align: center !important;
}

.product-name {
    font-size: 1em;
    font-weight: normal;
}

.product_info .price_info .no-special {
    line-height: 30px;
    margin-right: 10px;
    color: #cc0000;
    font-size: 25px;
}

.coupon_add_log {
    font-size: 11px;
    margin: 5px 0 0;
    color: #cc0000
}

fieldset {
    border: 0 none;
}

h1.onestepcheckout-title {
    padding-bottom: 2px;
}

p.onestepcheckout-description {
    margin-bottom: 2px;
}

#onestepcheckout-login-link {
    font-size: 11px;
}

p.onestepcheckout-login-link {
    line-height: 11px;
    padding-top: 4px;
}

.form-alt {
    font-size: 11px;

}

.onestepcheckout-place-order-loading {
    display: none;
}

.onestepcheckout-summary ul li {
    padding: 0
}

.onestepcheckout-summary ul {
    margin: 4px 0 0;
}

.onestepcheckout-place-order.visit #onestepcheckout-place-order {
    background-color: #ccc;
}

.onestepcheckout-place-order.visit .onestepcheckout-place-order-loading {
    display: block;
}

#billing_address .address_list {
    width: 200px;
}

.account_center select {
    height: 33px;
}

.label_create_account {
    font-size: 11px;
    color: #cc0000;
}

.text-center {
    text-align: center;
}

.image404 {
    width: 600px;
}

.content-404 h1 {
    color: #363432;
    font-family: "Roboto", sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 h1 {
    color: #363432;
    font-family: "Roboto", sans-serif;
    font-size: 41px;
    font-weight: 300;
}

.content-404 p {
    color: #363432;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.sectionBox_h {
    text-transform: Uppercase
}

.sectionBox_h.featured {
    margin-top: 20px 0 0
}

#billing_address_list li > div.input-box {
    float: none;
}

#billing_address_list li > div.input-firstname {
    float: left;
}

#billing_address_list li > div.input-lastname {
    float: left;
}

.footer-top .container a.sbtnf {
    background-image: url("../images/icon_like.png");
    background-repeat: no-repeat;
    display: block;
    height: 32px;
    width: 32px;
    float: left;
    margin: 2px 10px 0 0;
}

a.icon-facebook {
    background-position: 0 0;
}

a.icon-facebook:hover {
    background-position: 0 -32px;
}

a.icon-twitter {
    background-position: -32px 0;
}

a.icon-twitter:hover {
    background-position: -32px -32px;
}

a.icon-pinterest {
    background-position: -64px 0;
}

a.icon-pinterest:hover {
    background-position: -64px -32px;
}

a.icon-google {
    background-position: -160px 0;
}

a.icon-google:hover {
    background-position: -160px -32px;
}

.empty_cart {
    background: transparent url("../images/cart.gif") no-repeat scroll 0 15px;
    font-size: 16px;
    height: 101px;
    margin: 24px auto 36px;
    padding: 35px 0 0 116px;
    width: 530px;
}

.chose_size .show_as_img a {
    height: 55px;
    width: 50px;
}
















